<!-- app/views/home/index.html.erb -->
<div class="container mt-4">
  <div class="bg-primary rounded p-3">
    <h2 style="color: white;">Start the Quiz</h2>
    <p style="color: white;">Good luck!</p>
    <p>
      <%= link_to 'Enroll And Start â¯', '#enrollmentModal', id: 'enroll-button', class: 'btn btn-primary', 'data-bs-toggle' => 'modal', style: 'margin-top: 10px; padding: 15px 25px; font-size: 18px;' %>
    </p>
  </div>
</div>
