<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Questions</strong>
        <h3 class="mb-0">Add or Update Question</h3>
        <%= link_to 'Add Question >', admin_questions_path, class: 'icon-link gap-1 icon-link-hover stretched-link' %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Users</strong>
        <h3 class="mb-0">User's Details and Their Marks </h3>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          View Questions >
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>

    </div>
  </div>
</div>
